<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"  
        xmlns:gap   = "http://phonegap.com/ns/1.0" 
        id          = "com.pddua.example"  
        versionCode = "10" 
        version     = "1.0.0" > 

      <icon src="icon.png" />
	  <gap:plugin name="com.admob.google" version="4.0.8" />
        <name>ПДД Украины 2015</name>

        <description> 
            Правила дорожного движения Украины на 2015. 
        </description>

        <author email="tadvnc@gmail.com">
            
        </author> 
		

    </widget>